* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  position: relative;
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

body::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: linear-gradient(
    to bottom,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  top: 0;
  left: -300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  z-index: -10;
}

.phone-ctr {
  width: 280px;
  margin: 0 auto;
  padding: 60px 0;
}

.phone {
  background-color: hsl(270, 20%, 96%);
  border: 12px solid hsl(0, 0%, 100%);
  border-radius: 24px;
  overflow: hidden;
  font-size: 10px;
  box-shadow: 0px 7px 20px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.phone-header {
  background-image: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  position: relative;
  padding: 30px 15px 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-header::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 30px;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 24px;
}

.profile-pic {
  width: 30px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
}

.profile-info {
  flex: 1;
}

.profile-name {
  font-size: 14px;
  font-weight: 500;
}

.profile-avail {
  font-size: 10px;
  color: hsl(276, 100%, 81%);
}

.dots {
  transform: rotate(90deg) scale(1.6);
}

.phone-body {
  padding: 15px;
  font-size: 9px;
}

.text-left {
  color: hsl(276, 55%, 52%);
  background-color: hsl(270, 10%, 92%);
  padding: 8px;
  border-radius: 10px;
  border-bottom-left-radius: 4px;
  margin-bottom: 8px;
  width: 65%;
}

.images-right {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin-left: auto;
  padding-top: 10px;
  margin-bottom: 8px;
}

.dog-image {
  width: 42px;
  border-radius: 10px;
}

.text-right {
  font-size: 9px;
  color: hsl(271, 15%, 43%);
  background-color: hsl(0, 0%, 100%);
  width: 60%;
  margin-left: auto;
  border-radius: 10px;
  border-bottom-right-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.05);
}

.text-right--small {
  width: 40%;
  margin-bottom: 18px;
}

.cta {
  background-image: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 10px 8px;
  border-radius: 10px;
  border-bottom-left-radius: 6px;
  margin-bottom: 8px;
  width: 75%;
}

.radio-btn {
  width: 14px;
  height: 14px;
  border: 2px solid hsl(289, 100%, 72%);
  border-radius: 50%;
}

.cta-text {
  flex: 1;
}

.cta-price {
  font-weight: 600;
  font-size: 12px;
}

.chatbox {
  background-color: hsl(0, 0%, 100%);
  padding: 4px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.placeholder {
  color: hsl(206, 6%, 79%);
  padding-left: 16px;
}

.send-btn {
  background-color: hsl(271, 36%, 24%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(270, 20%, 96%);
  animation: 3s ease 0.3s 1 load;
  opacity: 0;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content-ctr {
  width: 90%;
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.content-title {
  color: hsl(271, 36%, 24%);
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 18px;
}

.content-text {
  color: hsl(270, 7%, 64%);
  line-height: 1.8;
}

@media (min-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }

  .phone-ctr {
    margin: 0;
  }

  .content-ctr {
    max-width: 450px;
    text-align: left;
    margin: 0;
  }

  body::before {
    left: -95px;
    height: 700px;
  }
}
